<% provide(:title, 'About') %>
<div id="main_content">
<div class="hero_2" id="running-board-wrap">
<div class="container" id="running-board">
<div id="hero_images"></div>
<div id="hero_image_fill">
<div class="left"></div>
<div class="right"></div>
</div>
<div id="hero">
<p class="big_type">
 BuildBounty is changing how <br>millions of people around the <br>world connect with
<span class="category" style="width: 179px;">
<b class="art" data-category_name="art">
art.
</b>
<b class="comics" data-category_name="comics">
comics.
</b>
<b class="dance" data-category_name="dance">
dance.
</b>
<b class="design" data-category_name="design">
design.
</b>
<b class="fashion" data-category_name="fashion">
fashion.
</b>
<b class="film &amp; video" data-category_name="film &amp; video">
film &amp; video.
</b>
<b class="food" data-category_name="food">
food.
</b>
<b class="games" data-category_name="games">
games.
</b>
<b class="music" data-category_name="music">
music.
</b>
<b class="photography" data-category_name="photography">
photography.
</b>
<b class="publishing" data-category_name="publishing">
publishing.
</b>
<b class="technology visible" data-category_name="technology">
technology.
</b>
<b class="theater" data-category_name="theater">
theater.
</b>
</span>
</p>
</div>
<p class="caption">
<a href="http://kck.st/KPcy8N" class="hero_0_caption">Laurel is writing Spindrift, a memoir about her late father.</a>
<a href="http://kck.st/JfRv8l" class="hero_1_caption">Melissa’s conceptual art project sent her on an Arctic expedition.</a>
<a href="http://kck.st/NbD2xC" class="hero_2_caption">With the help of his 961 backers, Jack published his first novel.</a>
<a href="http://kck.st/ReaiaO" class="hero_3_caption">Michael painted 91 paintings of Don Quixote in 91 days.</a>
</p>
</div>
<div id="quotes">
<div class="container">
<ul>
<li>
<p>“Paradigm-shifting”</p>
<div class="by">— CNN</div>
</li>
<li>
<p>“Pioneering”</p>
<div class="by">— New York Times</div>
</li>
<li>
<p>“ BuildBounty funds the future”</p>
<div class="by">— Rolling Stone</div>
</li>
</ul>
</div>
</div>
</div>

<div id="content-wrap">
<div id="content">
<div class="section" id="copy">
<div class="container">
<div class="interior">
<h2>Seven things to know about  BuildBounty:</h2>
<div class="divider"></div>
<div class="group">
<p class="big_type">1.  BuildBounty is a new way to fund creative projects.</p>
<p>
We’re a home for everything from films, games, and music to art, design, and technology.  BuildBounty is full of projects, big and small, that are brought to life through the direct support of people like you. Since our launch in 2009,
<b>5.4 million</b>
people have pledged
<b>$918 million</b>,
funding
<b>53,000</b>
creative projects. Thousands of creative projects are raising funds on  BuildBounty right now.
</p>
</div>
<div class="group">
<p class="big_type">2. Each project is independently created.</p>
<p>The filmmakers, musicians, artists, and designers you see on  BuildBounty have complete control over and responsibility for their projects.  BuildBounty is a platform and a resource; we’re not involved in the development of the projects themselves. Anyone can launch a project on  BuildBounty as long as it meets our guidelines.</p>
</div>
<div class="group">
<p class="big_type">3. Together, creators and backers make projects happen.</p>
<p>Project creators set a funding goal and deadline. If people like a project, they can pledge money to make it happen. Funding on  BuildBounty is all-or-nothing — projects must reach their funding goals to receive any money. All-or-nothing funding might seem scary, but it’s amazingly effective in creating momentum and rallying people around an idea. To date, an impressive 44% of projects have reached their funding goals.</p>
</div>
<div class="content_break">
<div class="image">
<img alt="Amanda Palmer  BuildBounty" height="140" src="//d297h9he240fqh.cloudfront.net/assets/compass/site/what_is_ BuildBounty/content_thumb_1-c3aa5a3c22b9458aa1a93d399c4f6332.jpg" width="140">
</div>
<div class="copy">
<p class="big_type">
<span>“</span>
There’s just something magical about  BuildBounty... You immediately feel like you’re part of a larger club of art-supporting fanatics.”
</p>
<p class="small_type">
—
<a href="/projects/amandapalmer/amanda-palmer-the-new-record-art-book-and-tour">Amanda Palmer, who rallied 25,000 backers to support her album, book, and tour.</a>
</p>
</div>
</div>
<div class="group">
<p class="big_type">4. Creators keep 100% ownership of their work.</p>
<p>
Backers are supporting projects to help them come to life, not to profit financially. Instead, project creators offer rewards to thank backers for their support. Backers of an effort to make a book or film, for example, often get a copy of the finished work. A bigger pledge to a film project might get you into the premiere — or a private screening for you and your friends. One artist raised funds to create
<a href="#wall_installation_dialog" class="link_to_wall_installation_dialog">a wall installation</a>,
then gave pieces of it to her backers when the exhibit ended.
</p>
</div>
<div class="group">
<p class="big_type">5. Creative works were funded this way for centuries.</p>
<p>
Mozart, Beethoven, Whitman, Twain, and other artists funded works in similar ways — not just with help from large patrons, but by soliciting money from smaller patrons, often called subscribers. In return for their support, these subscribers might have received an early copy or
<a href="#special_edition_dialog" class="link_to_special_edition_dialog">special edition</a>
of the work.  BuildBounty is an extension of this model, turbocharged by the web.
</p>
</div>
<div class="content_break">
<div class="image">
<img alt="Stephen Heleker  BuildBounty" height="140" src="//d297h9he240fqh.cloudfront.net/assets/compass/site/what_is_ BuildBounty/content_thumb_2-757bc29517aff64c2ec2237f79cba2a4.jpg" width="140">
</div>
<div class="copy">
<p class="big_type">
<span>“</span>
The most democratic way art has ever been made.”
</p>
<p class="small_type">
—
<a href="/projects/stephenheleker/smoke-a-short-film-based-on-the-story-by-alan-heat">Stephen Heleker, who raised $21,000 for his short film “Smoke”</a>
</p>
</div>
</div>
<div class="group">
<p class="big_type">6. Backing a project is more than just giving someone money.</p>
<p>It’s supporting their dream to create something that they want to see exist in the world. People rally around their friends’ projects, fans support people they admire, and others simply come to  BuildBounty to be inspired by new ideas. Some projects take longer than anticipated, but creators who are transparent about issues and delays usually find their backers to be understanding.</p>
</div>
<div class="group">
<p class="big_type">7. Our mission is to help bring creative projects to life.</p>
<p>
We’re an independent, 70-person company, based in New York City’s Lower East Side.
We spend our time making  BuildBounty a little bit better every day, answering questions from backers and creators, and finding new projects to share. If a project is successfully funded, we apply a 5% fee to the funds collected.
</p>
<p>We believe that creative projects make for a better world, and we’re thrilled to help support new ones. Building a community of backers around an idea is an amazing way to make something new.</p>
</div>
</div>
</div>
</div>
<div class="section clearfix centered" id="touts">
<div class="container">
<div class="interior">
<a href="/start?ref=what_is_ BuildBounty" class="NS_touts__start tout"><span class="big_type">Start a project</span>
<div>or find out how it all works</div>
</a>
<a href="/year/2012?ref=what_is_ BuildBounty#sundance" class="NS_touts__year_in_review tout" target="_blank"><span class="big_type">The Best of  BuildBounty</span>
<div>A look back at 2012</div>
</a>
</div>
</div>
</div>
</div>
</div>

</div>