<h1>Home</h1>
<%= request.location.latitude %>
<% if signed_in? %>
	<% if current_user.follows.length > 0 %>
		<%= render 'shared/bounty_feed' %>
	<% else %>
		<h4>Uh-oh, you aren't following any bounties.  Click "Discover" to find some!</h4>
	<% end %>
<% end %>
