<p id="notice"><%= notice %></p>
<%= image_tag @bounty.mimage.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @bounty.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @bounty.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @bounty.content %>
</p>
    <%= render 'shared/follow_form' if signed_in? %>
Tags : <%= raw @bounty.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>

<br/>

<%= link_to 'Edit', edit_bounty_path(@bounty) %> |
<%= link_to 'Back', bounties_path(@bounty) %>

<br/>

<%= link_to 'New submission', new_submission_path(user_id: current_user.id, bounty_id: @bounty.id), class: "btn btn-large" %>