<li id="<%= bounty_feed_item.id %>" class="bounty">
<div class="bounty_wrap">
<div class="bounty_card">


<div style="position:relative">

<div class="p_thumbnail">
  <%= image_tag bounty_feed_item
  .mimage.url(:card) %>
</div>


<div class="delete">

<% @bounty = bounty_feed_item %>
<div id="card_follow_form" class="cff">
 <% if current_user.following?(@bounty) %>
   <%= render 'shared/card_unfollow' %>
 <% else %>
   <%= render 'shared/card_follow' %>
<% end %>
</div>

</div>


</div>

  <h2 class="b_title">
  <strong class="b_bountyname">
    <%= link_to bounty_feed_item.name, bounty_feed_item %>
  </strong>
   <span class="b_username">
    by <%= link_to User.find(bounty_feed_item.user_id).name, User.find(bounty_feed_item.user_id) %>
  </span>
  </h2>

  <div class="b_content"><%= bounty_feed_item.content.slice(0,200) %>
  </div>

  <span class="b_timestamp">
    Posted <%= time_ago_in_words(bounty_feed_item.created_at) %> ago.
  </span>


<div class="b_submissions_wrap">
 <div class="b_submissions">
      <div id="image_row">

  <%= link_to (image_tag "/images/tiny/add_new.png"), new_submission_path(:bounty_id => bounty_feed_item.id) %>
    <% if bounty_feed_item.submissions.any? %>
          <%= render partial: 'shared/card_submission_thumb', collection: bounty_feed_item.submissions %>
         <!--     <%= bounty_feed_item.submissions.count %> submissions-->
    <% end %>
  </div>
        </div>

</div>

  </div>
  </div>
</li>