<%= form_for(current_user.follows.build(bounty_id: @bounty.id, user_id: current_user.id), remote: true, html: {:class => "follow"}) do |f| %>
    <div><%= f.hidden_field :bounty_id %></div>
    <div><%= f.hidden_field :user_id %></div>
<%= f.submit "F", class: "btn btn-large btn-primary" %>
<% end %>