<%= form_for(current_user.follows.find_by(bounty_id: @bounty),
             html: { method: :delete, :class => "unfollow" }, remote: true) do |f| %>
  <%= f.submit "X", class: "btn btn-large" %>
  <% end %>