<%= form_for(current_user.follows.build(bounty_id: @bounty.id, user_id: current_user.id), remote: true) do |f| %>
  <div><%= f.hidden_field :bounty_id %></div>
    <div><%= f.hidden_field :user_id %></div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>