<div id="search">
        <input type="text" id="demo-input-facebook-theme" name="blah2" />
        <script type="text/javascript">
        $(document).ready(function() {
            $("#demo-input-facebook-theme").tokenInput("http://127.0.0.1:3000/bounties/search.json", {
                theme: "facebook",
                 resultsFormatter: function(item){ 

                 	return "<li>" + "<img src='" + item.image + "' title='" + item.name + "' height='25px' width='25px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + "<a href='http://127.0.0.1:3000/bounties/" + item.id + "'>" + item.name + "</a>" + "</div></div></li>" },
              		tokenFormatter: function(item) { return "<li><p>" + item.first_name + " <b style='color: red'>" + item.last_name + "</b></p></li>" }
            });
        });
        </script>
</div>

