<h1>Listing submissions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Bounty</th>
      <th>Title</th>
      <th>Content</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.user_id %></td>
        <td><%= submission.bounty_id %></td>
        <td><%= submission.title %></td>
        <td><%= submission.content %></td>
        <td><%= submission.upvotes %></td>
        <td><%= submission.downvotes %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
