<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @submission.user_id %>
</p>

<p>
  <strong>Bounty:</strong>
  <%= @submission.bounty_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @submission.content %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @submission.upvotes %>
</p>

<p>
  <strong>Downvotes:</strong>
  <%= @submission.downvotes %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
