// Place all the styles related to the Bounties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grayMediumLight: #eaeaea;
$grayLight: #eaeaea;
$grayLighter: #eaeaea;
$blue: #eaeaea;
$gray: #eaeaea;
$grayDarker: #eaeaea;
.bounty_feed
{
	display:table;
	background-color:#dddddd;
	padding:15px;
	border:5px solid gray;
	margin:10px;

}

.bounty 
{
	width: 220px;
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;

}
.bounty_wrap {
border-radius: 9px;
background: rgba(11,25,2,0.06);
padding: 4px;
margin-bottom: 20px;
clear: both;
}
.cff {
	position:absolute;right:0;top:0;
}
.delete {
	float: right;
	color: $grayLight;
	
}
.bounty_card {
padding: 5px;
background-position: 0 307px;
height: 360px;
overflow: hidden;
border-radius: 6px;
background-color: #fff;
border: 1px solid #d0d5cb;
position: relative;
background-color: #fff;
}
.b_title {
font-size: 12px;
font-weight: bold;
line-height: 15px;
padding: 0 5px;
margin-bottom: 5px;
text-align: left;
}
.b_bountyname {
display: block;
max-height: 30px;
overflow: hidden;
}

.b_username {
display: block;
font-size: 12px;
max-height: 15px;
overflow: hidden;
color: #75796f;
font-weight: normal;
padding-top: 2px;
}

.b_content {
	color: #75796f !important;
padding: 0 5px;
font-size: 12px !important;
line-height: 15px;
height: 60px;
text-overflow: ellipsis;
overflow: hidden;
}


.b_submissions_wrap {
	position:absolute; bottom:0;
#	border-radius: 4px;
bottom: 0px;
left: 0px;
width: 210px;
height: 40px;
background: #d0d5cb;
padding: 0;
margin-top: 5px;
padding-top: 4px;
padding-left: 4px;
}

.cff .btn {
	width:30px;
	height:30px;
	font-size:1em;
	padding:0px;
}